@import 'mediaQueries.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:100i,400&display=swap');
@import 'hero.scss';
@import 'animations.scss';

html, body {
  font-family: 'Raleway', sans-serif;
}

#about {
  transition: all .25s;

  h2 {
    margin-top: 20px;
  }
}
